


*{margin: 0; padding: 0;}

body{
	background: url("logo/background.jpg");
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.menu{
	background-color: black;
	list-style:none;
	border:1px 
	solid #c0c0c0;
	float:left;
}
.menu li{
	position:relative;
	float:left;
	border-right:1px 
	solid #c0c0c0;
}
.menu li a{
	color:white; 
	text-decoration:none; 
	padding:5px 10px; 
	display:block;
}

.menu li a:hover{
	background:#333;
	color:#87CEFA;
	-moz-box-shadow:0 3px 10px 0 #CCC;
	-webkit-box-shadow:0 3px 10px 0 #ccc;
	text-shadow:0px 0px 5px #fff;
}
.menu li  ul{
	position:absolute;
	top:25px;
	left:0;
	background-color:black;
	display:none;
}
	.menu li:hover ul, .menu li.over ul{
	display:block;
}
.menu li ul li{
	border:1px solid #c0c0c0;
	display:block;
	width:150px;
}
h1{
	color: white;
	text-align: left;
	padding-bottom: 25px;
	padding-top: 15px;
}
.logosite{
	width: 1500px;
	height:250px;
}
.Contato{
	
}
.Contato > h1 {
	padding-top: 60px;
	margin: 10px;
}

.Informa{
	display: block;
}
.Informa > p {
	
	margin: 25px;
	border: groove;
	border-radius: 15px;
	padding-left: 15px;
	padding-top: 15px;
	color: white;
	font-size: 15px;
}
.FlexMenu{
	display: flex;
}
.FlexMenu > ul {
	flex-direction: row;
}
.TituloCrash{
	display: inline-flex;
}
.all > h1 {
	color: white;
}
.all > p {
	color: white;
	border: solid;
	font-size: 15px;
	text-align: left;
	text-decoration: none;
}
.all > img {
	flex-direction: column;
	width:;
	height: 250px;
}
.all > table{
	padding-top: 5px;
	color: white;
	font-size: 15px;
}
.all > p > a {
	text-decoration: none;
	color: gray;
}
.button {	
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
